<!DOCTYPE html>
<html lang="en">
<%- include('includes/header'); -%>
<body>
    <h2>This is the about page</h2>
    <p>This is a to-do list web app with dynamically created routes, 
        and the data from the list is stored in a NoSQL database - MongoDB 
        and managed with the use of mongoose-js.</p>
</body>
<%- include('includes/footer'); -%>
</html>